<?xml version="1.0"?>
  <model>
    <name>EKBot1</name>
    <version>1.0</version>
    <!--<sdf>model.sdf</sdf> -->
    <sdf version="1.5">sdf/model.sdf</sdf>
    <author>
      <name>Edgar Granados</name>
      <email>edgar.granados@itam.mx</email>
    </author>
    <description>
      Eagle Knight Omnidirecctional robot compatible with Robocup SSL rules
    </description>
  </model>
